* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  margin: 2rem auto;
  width: 80%;
}
#screens {
  width: 90%;
  margin: 2rem auto;
}
#screens > div {
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}
#screens > div:not(.disabled) {
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#screens input {
  min-width: 220px;
  border: 1px solid #ececec;
  padding: 0.5rem;
}
#screens input,
#screens button {
  height: 32px;
  border-radius: 0.5rem;
}
#screens button {
  border: 3px solid #9f7878;
  background-color: #9f4c4c;
  color: #fff;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 0.45s ease-out;
}
#screens button:hover {
  background-color: #9a2222;
  border-color: #9a2222;
}
#screen2 {
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
#information,
#info {
  display: flex;
  margin-bottom: 1rem;
}
#info h3 {
  border: 1px solid;
  padding: 0.5rem;
  margin: 0 0.5rem;
  text-align: center;
}
#enterExpense {
  margin-bottom: 1rem;
}
table th,
table td {
  border: 1px solid;
  text-align: center;
  padding: 0.5rem;
}
