*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #28b9b5, #8fe302, #f24844, #fa980f, #7479f2, #f2d250, #e3028a, #0334fd, #f27b44, #cacaca, #017a5a */
h1{
  font-size: 2rem;
}
ul{list-style: none;}
a{text-decoration: none;}
header, footer{
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}
header{
  background-color: #28b9b5;
}
#add{
  background-color: #e5e5e5;
  text-align: center;
  padding: 0.5rem;
}

#show{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
#show .category{
  width: 18%;
  min-height: 150px;
  margin: 1%;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
}
#show .category h3{
  font-size: 14px;
  color: #fff;
  padding: 0.5rem;
}
#show .category .delete{
  cursor: pointer;
  transition: all 0.35s;
}
#show .category .delete:hover{
  transform: scale(1.1);
}
#show .category .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem;
  margin: 0.25rem;
}
footer{
  background-color: #017a5a;
}
footer a{
  padding: 0 0.25rem;
  color: #fff;
}
.fruits-vegetables{border-color: #8fe302}
.fruits-vegetables h3{background-color: #8fe302}

.meat-seafood{border-color: #f24844}
.meat-seafood h3{background-color: #f24844}

.dairy{border-color: #fa980f}
.dairy h3{background-color: #fa980f}

.frozen-foods{border-color: #7479f2}
.frozen-foods h3{background-color: #7479f2}

.bread-pasta{border-color: #f2d250}
.bread-pasta h3{background-color: #f2d250}

.snacks{border-color: #e3028a}
.snacks h3{background-color: #e3028a}

.bevarages{border-color: #0334fd}
.bevarages h3{background-color: #0334fd}

.cleaning{border-color: #f27b44}
.cleaning h3{background-color: #f27b44}

.others{border-color: #cacaca}
.others h3{background-color: #cacaca}