* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#wrapper {
  height: 100vh;
  background: #4ecdc4;
  background: -webkit-linear-gradient(to bottom, #556270, #4ecdc4);
  background: linear-gradient(to bottom, #556270, #4ecdc4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#wrapper h1{
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 2px #000000bd;
}
select{
    padding: 0.5rem;
}
