*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('happyNewYear.webp') no-repeat scroll center / cover;
  position: relative;
}
#wrapper:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.countdown{
  font-size: 400%;
  display: flex;
  color: #fff;
  position: relative;
}
.countdown p{
  text-align: center;
  padding: 0 2rem;
  transition: all 0.35s;
}