* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.movie-wrapper {
  width: 80vw;
  margin: 2rem auto;
  padding: 1rem;
}
.movie-wrapper header {
  display: flex;
  justify-content: space-between;
}
.movie-wrapper header button {
  cursor: pointer;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #afafaf;
}
