*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 150px;
}
#wrapper{
  margin: 2rem;
}
#search{
  margin-bottom: 2rem;
}
.movie-wrapper{
  border-bottom: 2px solid #e3e3e3;
  padding: 1rem 0;
  margin: 1rem 0;
}