* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  background-color: #c4c4c1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

#quiz-container {
  padding: 1.5rem;
  background-color: #fff;
  margin: 2rem auto;
  width: 80%;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 2px rgb(255 255 255 / 40%);
}

.heading {
  margin: 1rem 0;
  text-align: center;
}

.question-counter {
  border-bottom: 8px solid #c6c4c4;
  position: relative;
  height: 10px;
  font-weight: 700;
}

.question-counter .count {
  content: '';
  position: absolute;
  top: -9px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #757373;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.questions .question {
  width: 35%;
}

.questions .options {
  width: 60%;
  margin-left: 5%;
}

.questions .options ul {
  display: flex;
  flex-wrap: wrap;
}

.questions .options ul li {
  width: 47%;
  margin: 1%;
  padding: 1rem;
  padding-left: 3rem;
  background-color: #e3e3e3ab;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease-in;
}

.questions .options ul li:hover {
  background-color: #b6b2b2ab;
}

.questions .options ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 100%;
  background-color: #615e5eab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions .options ul li:first-of-type:before {
  content: 'a)';
}

.questions .options ul li:nth-of-type(2):before {
  content: 'b)';
}

.questions .options ul li:nth-of-type(3):before {
  content: 'c)';
}

.questions .options ul li:last-of-type:before {
  content: 'd)';
}

.questions .options ul li.correct,
.questions .options ul li.correct:hover,
.questions .options ul li.correct::before {
  background-color: #58c95d !important;
}

.questions .options ul li.incorrect,
.questions .options ul li.incorrect:hover,
.questions .options ul li.incorrect::before {
  background-color: #d72020cc !important;
}



@media all and (max-width: 768px) {
  #quiz-container {
    width: 100%;
  }

  .questions {
    flex-wrap: wrap;
  }

  .questions .question,
  .questions .options {
    width: 100%;
    text-align: center;
  }

  .questions .question {
    margin-bottom: 2rem;
  }

  .questions .question img {
    max-width: 250px;
  }
}

@media all and (max-width: 476px) {
  .questions .options {
    margin-left: 0;
  }

  .questions .options ul {
    flex-wrap: wrap;
  }

  .questions .options ul li {
    width: 100%;
  }
}