*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clock {
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-image: url(analogClock.png);
    background-position: center;
    background-size: cover;
}
.needle {
    background-color: #000;
    width: 10px;
    height: 70px;
    position: absolute;
    border: none;
    left: 49%;
    top: 40%;
    transform: translate(-50%, -50%);
    transform-origin: bottom left;
}
.needle.minutes{
    height: 95px;
    top: 29%;
    transform: rotate(5deg);
}
.needle.hour {
    top: 34%;
    transform: rotate(0deg);
}
.needle:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid #ffffff;
    border-right: 5px solid white;
    border-bottom: 10px solid #000;
}