* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to right, #6320ee, #8075ff);
  color: #211a1d;
}
.box {
  background-color: #f8f0fb;
  padding: 2rem;
  box-shadow: 49px 24px 50px -15px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  border-color: transparent;
  margin: 2rem 0;
}
.box input {
  width: 400px;
}
.box input,
.box button {
  padding: 0.5rem;
  font-size: 1rem;
}
